#player-health {
    width: 200px;
    height: 20px;
    background-color: green;
}

#monster-health {
    width: 60px;
    height: 20px;
    background-color: red;
}

.health-bar {
    display: flex;
    justify-content: flex-end;
    transition: width 1s;
    color: white;
}